.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar{
    display: flex;
}

.navbar a {
    font-weight: 500;
    font-size: 1.1rem;
}

.icons{
    display: flex;
}